APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_VERSION=0.0.0
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_EXPERIMENTAL="true"

# Postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_DATABASE=""
POSTGRES_PORT="5432"
# DATABASE_TYPE="postgres"

# SQL Server
SQLSERVER_HOST=""
SQLSERVER_DATABASE=""
SQLSERVER_UID=""
SQLSERVER_PASSWORD=""
SQLSERVER_TIMEOUT="" # in ms
# DATABASE_TYPE="sqlserver"

# Google AI
GOOGLE_GENERATIVE_AI_API_KEY=""


### LIPSQL CONFIGURATION
# Username & password
JWT_SECRET="your-super-secure-random-string-at-least-32-characters-long"
LIPSQL_USERNAME="admin"
LIPSQL_PASSWORD="admin"